.header__square-pic {
  position: absolute;
  top: 64px;
  right: 0;
  background-position: center;
  background-size: cover;
  display: flex;
  background-color: #2f80ed;
  height: 568px;
  width: 568px;
  z-index: 1;
}
