.footer__column-link {
  line-height: 30px;
  font-size: 18px;
  font-weight: 400;
  color: #f2f2f2;
  text-decoration: none;
  margin: 0;
  opacity: 1;
  transition: opacity 1s ease;
}

.footer__column-link:hover {
  opacity: 0.5;
}
