.khan__buy-link {
  line-height: 42px;
  font-size: 30px;
  font-weight: 400;
  text-decoration: none;
  padding: 0 0 0 48px;
  margin: 0;
  color: #2f80ed;
}

.khan__buy-link:hover {
  opacity: 0.5;
  transition: 1s ease;
}
