.feynman__link {
  display: flex;
  position: absolute;
  top: 50%;
  right: 48px;
  line-height: 51px;
  font-size: 36px;
  font-weight: 400;
  text-decoration: none;
  color: #2f80ed;
  margin: 0;
  z-index: 1;
  opacity: 1;
  transition: opacity 1s ease;
}

.feynman__link:hover {
  opacity: 0.5;

}
