.page {
    min-width: 1100px;
    max-width: 1600px;
    margin: 0 auto;
    font-family: 'Helvetica Neue', Arial, sans-serif;
}
.header {
    display: flex;
    position: relative;
    height: 100vh;
    min-height: 600px;
    max-height: 756px;
    margin-bottom: 100px;
    border: 1px solid red;
}
.logo {
    background-image: url("../images/logo_place_header.svg");
    width: 228px;
    height: 32px;
}
.logo_place_header {
    position: absolute;
    top: 30px;
    left: 64px;
    z-index: 1;
}
.header__title {
    display: flex;
    flex-direction: row;
    align-self: center;
    position: relative;
    left: 64px;
    width: 730px;
    border: 1px solid red;
    z-index: 1;
}
.header__title_text {
    line-height: 96px;
    font-size: 102px;
    font-weight: 600;
    margin: 0;
}
.header__subtitle {
    display: flex;
    flex-direction: row;
    align-self: center;
    position: absolute;
    left: 64px;
    bottom: 30px;
    width: 388px;
    border: 1px solid red;
}
.header__subtitle_text {
    line-height: 25px;
    font-size: 18px;
    font-weight: normal;
    margin: 0;
    z-index: 1;
}
.header__subtitle_link {
    text-decoration: none;
    color: #2f80ed;
    z-index: 1;
}
.header__main-illustration {
    position: absolute;
    bottom: 0;
    right: 0;
    background-position: center;
    background-size: cover;
    display: flex;
    background-image: url("../images/two_again.png");
    width:765px;
    height:608px;
}
.header__square-pic {
    position: absolute;
    top: 64px;
    right: 0;
    background-position: center;
    background-size: cover;
    display: flex;
    background-color: #2f80ed;
    height: 568px;
    width: 568px;
    z-index: -2;
}
.content {
    display: flex;
    position: relative;
    height: 100vh;
    min-height: 200px;
    margin-bottom: 100px;
    border: 1px solid red;
}
